.item-swiper {
  width: 80%;
  display: flex;
  align-items: center;
  gap: 1.125rem;
  height: max-content !important;
  justify-content: space-between !important;
  position: absolute;
  bottom: 2rem;
  z-index: 5;

  button {
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    background: #f0f0f0;
    outline: none;
    border: none;

    cursor: pointer;
    svg {
      height: 0.875rem;
      width: 0.875rem;
    }
  }
}
