html,
body,
.app {
  margin: 0;
  padding: 0;
  font-family: "Amatic SC", serif;
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: calc(80vw / 1440 * 16) !important;
}

// @media screen and (min-width: 1350px) {
// }

// @media screen and (min-width: 1024px) {
//   body {
//     font-size: calc(100vw / 1440 * 16);
//   }
// }

.amatic-sc-regular {
  font-family: "Amatic SC", serif;
  font-weight: 400;
  font-style: normal;
}

.amatic-sc-bold {
  font-family: "Amatic SC", serif;
  font-weight: 700;
  font-style: normal;
}
